:root{
    --buttong-bgcolor:blueviolet;

}
img{
    width: 100%;
}
.nav_log{
    width: 20%;
}

.form_list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 30px;
}
button{
    background-color: blueviolet;
    width: 60px;
    font-size: 10px;

}
.body_img{
    width: 10%;
}
