:root{
    --button-bgcolor:linear-gradient(to top right,#007bff 0%, #ab00ff 100%);
    --font-color:linear-gradient(to top ,#007bff 0%, #ab00ff 100%);
}

/* Base Style */
img{
    width: 100%;
}
body{
    font-family: 'Overpass', sans-serif;  
    padding-top: 15px;
    margin-top: 10%;
}
h4{
    font-size: 18px;
    text-align: center;
}

li{
    list-style: none;
}

p{
    font-size: 14px;
}
/* Layout Style */
.nav_logo{
   
    width:50%;
}
.body-heading-card{
    margin-top: 20%;
}
.body-features{
    width: 15px;
    height: 50px;
}
.footer-button{
    border-radius: 20px;
}
.footer-input{
    border-radius: 20px;
    border-style: inset;
}
footer{
    padding-top: 10px;
    padding-bottom: 5px;
    background-image: var(--button-bgcolor);
}
/* Block Style */
.nav-bar_ul{
    display: none;
}

.hero-image{
    position: relative;
    bottom: 70px;
}
.body-image-card{
    position: relative;
    bottom: 170px;  
    left: 10px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.267);
    border-radius: 5px;
}
.feature_container{
   display: flex;
   height: 80px;
    
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.123);
    border-radius: 5px;
}
.features{
    position: relative;
    bottom: 80px;
}
.footer_list-ul{
    text-align: right;
    padding: 5px;
    color: white;
    font-size: 10px;
}

.products{
    width: 35%;
    padding: 20px;
}
.box5{
    position: relative;
    left:30%
}
.product_title{
    background: var(--font-color);
}